body{
	background-color: #FFEECE;
}

h1 {
	color: #FF6A5F; text-transform: uppercase;
}

p {
	color: #121603; font-family: sans-serif; 
}

#attention {
	font-weight: bold;
}

.explanation {
	color: #FF6A5F; font-size: 16px;
}
