body{
	background-color: #FFEECE;
}
h1{
	font-color: #FFC30D; text-transform: uppercase;
}

p{
	font-color: #121603; font-family: sans-serif; 
}
#second{
	font-weight: bold;
}
.important{
	font-color: #FF6A5F; font-size: 24px;
}
