*{
	margin: 0;
	padding: 0;
}
body {
  text-align: center;
  color: #000;
  font-family: Times, serif;
  text-transform: uppercase;
  align-content: center;

}

hr {
	display: block;
	height: 5px;
  color: #F00;
}

h1 {
	padding-top: 40px;
  font-size: 100px;
  letter-spacing: -200%;
  font-weight: bold;
  color: #877221;
  line-height: 0.5;
}
h2 {
  font-size: 50px;
  color: #877221;
  padding: -10px;
}
p{
	font-family: Arial, sans-serif;
	font-weight: 800;
	font-transform: uppercase;
	font-size: 20px;
	padding: 5px;
	color: #FFF;
}
.year-state"{
	font-size: 20px;
	color: #fff;
}

.year-state" small{
	font-size: 12px;
}
#small {
	font-size: 10px;
}

.bracket {
	color: #F00; font-size: 36px;
}
h3 {
  font-size: 60px;
  font-kerning: 200%;
  font-weight: bold;
  color: #877221;
  text-transform: lowercase;
}
h4 {
	color: #FFB69E;
	font-family: Georgia, serif;
	text-decoration: unset;
}
h5 {
	font-size: 12px;
	font-family: arial, serif;
	text-transform: lowercase;
}

#buy {
	text-align: left;
	padding-left: 10px;
	font-style: italic;
}

main, footer{
	margin-right: 200px;
	margin-left: 200px;
}

main {
	background-color: #691236;
}

footer {
background-color: #002300;
color: #FFCB9B;
}

.do{
	font-size: 20px;
	font-style: italic;
	color: #FF34A4;
}
a{
	color: #FFF;
	text-decoration: none;
	font-style: inherit;
}
