*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{ 
	background-color: #7d7d7d;
	border: 3px solid yellow;
	font-size: 16px;
}

header{
	padding: 2em;
	background-color: #fff;
	height: 2em;
}
#logo, nav{float: left;}

#logo{
	width: 10%;
	margin-right: 8em;
}

nav{
	font-family: arial;
}

a {
	text-decoration: none;
	color: #2A3317;
	text-transform: uppercase;
	font-size: 0.8em;
	margin: .3em;

}

	/*float: left;*/

.serif{
	font-family: serif;
	color: gray;
}

/*.clearfix:after{
	content:".";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
	}*/