*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif');



body{ 
	background-color: #7d7d7d;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

#wrapper{
	border: 10px solid #FFC913;
	margin: auto;

}

header{
	padding: 0.8em;
	background-color: #fff;
	margin-bottom: 2em;
}

nav a{
	float:left;
}

nav{
	align-content: right
}

#logo{
	width: 10%;
	margin-right: 8em;
	float: left;
}

a {
	text-decoration: none;
	color: #2f2e2c;
	font-size: 0.8em;
	margin: 1em;
	padding: 1em;
}

a:hover{
	color: #f6471e;
}

#magnifier{
	width: 3%;
	margin-left: 1.3em;
}
.main-nav{
	text-transform: uppercase;
}
.sub-nav{
	font-family: 'PT Serif', serif;
	color: #2f2e2c;
	border-left: 2px solid #2f2e2c;

}

/*----------------------------------------------------------*/

main{
	background-image: url("../images/background.jpg");
	height: 800px;

}

.photo{
	height: 225px;
}


.content{
	padding: 2em;
	/*width: 30%;*/
	height: 225px;
	background-color: #fff;
}

.left{
	background-color: #2d2d2d;

}

.left, .content{
	float:left;
width: 50%;
}

#row-one{
	border: 5px solid white;
}

.first-entry, .second-entry, .third-entry{
	float: left;
}
.clearfix:after{
	content:".";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
	}