*{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	background: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;

}

header{
	background-color:#FFBF3B;
	padding: 20px;
}

a {
	color: #454545;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

nav a{
	margin-right: 20px;
}


main{
	margin-top: 20px;
}

h4{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 200;
	color: #ff9685;
	padding-bottom: 30px;
}

p{
	font-size: 18px;
	color: #FFE1D7;
	padding-top: 20px;
	line-height: 1.5;
	font-weight: 150;
}

section{
	padding-left: 25%;
	padding-right: 25%
}

h5{
	font-size: 22px;
	text-transform: uppercase;
}

ul{
	font-size: 18px;
	color: #2d2d2d;
	text-align: center;
	list-style-type: none;
	padding: 10px;
	font-family: verdana, sans-serif;
	font-weight: bold;
}

li{
	margin-top: 20px;
	padding-top: 10px;
	background-color: rgba(255,191,59,0.5);
}


#slogan {
	font-style: italic;
	font-size: 36px;
	text-align: center;
	font-family: Georgia, serif;
	padding: none;
	color: #ff9685;

}
#contact{
	font-size: 22px;
	color: #FF137F;
	background-color: #2d2d2d;
	padding: 5px;
}

